.horario_container{
    color:white;
    background-color:rgb(59, 57, 57);
    text-align: center;
    font-size: 15px;
}
.columnas_container{
    display: flex;
    gap: 1rem;
   text-align: center;
   justify-content: center;
    margin: auto;
    
    max-width: 80%;
    border: 1px solid  rgb(154, 6, 6);
    border-bottom:none ;
}
.columnas_container div{
    padding: 0.2rem;
 
}



.horas{
    display: flex;    
    flex-direction: column;   
   
}


.horas div{
    border:2px solid transparent;
}
.horas div:hover{
    border: 2px solid white;
    background-color: rgb(154, 6, 6);
    color: black;
    border-radius: 2px;
    cursor: pointer;
}
.lunes_container{   
    display: flex;   
    flex-direction: column;  
}

.lunes_container div{
    border:2px solid transparent;
}
.lunes_container div:hover{
    border: 2px solid rgb(154, 6, 6);
    background-color: black;
    border-radius: 2px;
    cursor: pointer;
}
.martes_container div{
    border:2px solid transparent;
}
.martes_container div:hover{
    border: 2px solid rgb(154, 6, 6);
    background-color: black;
    border-radius: 2px;
    cursor: pointer;
}
.miercoles_container div{
    border:2px solid transparent;
}

.miercoles_container div:hover{
    border: 2px solid rgb(154, 6, 6);
    background-color: black;
    border-radius: 2px;
    cursor: pointer;
}
.jueves_container div{
    border: 2px solid transparent;
}
.jueves_container div:hover{
    border: 2px solid rgb(154, 6, 6);
    background-color: black;
    border-radius: 2px;
    cursor: pointer;
}
.viernes_container div{
    border: 2px solid transparent;
}
.viernes_container div:hover{
    border: 2px solid rgb(154, 6, 6);
    background-color: black;
    border-radius: 2px;
    cursor: pointer;
}
.sabado_container{
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 2rem;
    margin: auto;
    max-width: 80%;
    border: 1px solid  rgb(154, 6, 6);
    border-top:none;
}
.sabado_container div{
    border: 2px solid transparent;
}

.sabado_container div{
    padding:0.2rem;
    
}
.sabadohorario_container div{
    border:2px solid transparent;
}
.sabadohorario_container div:hover{
    border: 2px solid white;
    background-color: rgb(154, 6, 6);
    color: black;
    border-radius: 2px;
    cursor: pointer;
}
.sabadoclases_container div:hover{
    border: 2px solid rgb(154, 6, 6);
    background-color: black;
    border-radius: 2px;
    cursor: pointer;
}
@media (max-width:1057px){
  
   .horario_container{
    font-size: 12px;
   }
} 
@media (max-width:900px) {
    
    .horario_container{
        font-size: 10px;       
    }
    .columnas_container{
        gap:0;
        border:none;
    }
    .sabado_container{
        border: none;
    }
    
}
/*Brake Point*/
@media(max-width:679px){
    .horario_container{
        font-size: 6px;
    }
}
@media (max-width:460px){
    .horario_container{
        font-size: 5px;
    }
    .columnas_container div{
        gap: 0px;
        padding: 0;
        
    }
}