
.ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:4rem;    
    list-style:none;
    margin-right:3rem ;/*16px*/
}
.link{
   color:var(--colorTwo);
    text-decoration:none;
    cursor: pointer;
   
}


