.text_container{
    
    margin:3rem;
}
.nosotros_container{
    margin-left: 3rem;
    margin-right: 3rem;
    text-align: justify;
}


.text_animate{
    font-weight: 700;
    text-align: center;
}
.entrenadores_container{
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: gray;
    color: white;

}
.img_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
   
    
}
.img_container img{
    width:100%;
    
    aspect-ratio: 3/2;   
    object-fit: contain;
    /*mix-blend-mode:color-burn;*/
}

.img{
    margin-bottom:3rem;
}
