
.nosotros_container{
    margin-left: 3rem;
    margin-right: 3rem;
    text-align: justify;
}

.text_animate{
    font-weight: 700;
    text-align: center;
}
.entrenadores_container{
    
    
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: gray;
    color: white;

}
.img_contanier{
    display: flex;
    aspect-ratio: 3/3;
    object-fit: contain; 
    color: red;
}

.img{
    margin-bottom: 3rem;
   
}
